html
	head
		title Bingo Analysis
		meta(http-equiv='content-type', content='text/html; charset=utf-8')
		meta(name='description', content='Bingo Analysis for The Legend of Zelda: Ocarina of Time')
		meta(name='keywords', content='bingo analysis legend zelda ocarina time oot srl speedrunslive speedrun speedruns')
		| <!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->

		//- Font
		link(href='http://fonts.googleapis.com/css?family=Roboto', rel='stylesheet', type='text/css')

		//- jQuery
		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
		//- jQuery Tooltipster
		link(href='css/tooltipster.css', rel='stylesheet', type='text/css')
		link(href='css/themes/tooltipster-noir.css', rel='stylesheet', type='text/css')
		script(src="js/jquery.tooltipster.min.js")
		//- jQuery Dropotron
		script(src='js/jquery.dropotron.min.js')
		//- jQuery Tablesorter
		script(src='js/jquery.tablesorter.min.js')

		//- HTML5UP Stuff
		script(src='js/skel.min.js')
		script(src='js/skel-layers.min.js')
		script(src='js/init.js')
		noscript
			link(rel='stylesheet', href='css/skel.css')
			link(rel='stylesheet', href='css/style.css')
			link(rel='stylesheet', href='css/style-noscript.css')
		| <!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
		| <!--[if lte IE 9]><link rel="stylesheet" href="css/ie/v9.css" /><![endif]-->

		//- Google Analytics
		script (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create','UA-54278799-1','auto');ga('send','pageview');

	body.index.loading
		block content

		footer#footer
			span.copyright
				| Thanks to 
				a(href='http://www.twitch.tv/giuocob', target='_new') Giuocob
				| , 
				a(href='http://www.twitch.tv/PsyMarth', target='_new') PsyMarth
				| , 
				a(href='http://www.twitch.tv/V1nc3B', target='_new') V1nc3B
				| , 
				a(href='http://www.twitch.tv/ArmorySons', target='_new') ArmorySons
				| , 
				a(href='http://www.twitch.tv/cosmowright', target='_new') Cosmo
				| , 
				a(href='http://www.twitch.tv/runnerguy2489', target='_new') Runnerguy
				| , 
				a(href='http://www.twitch.tv/maxx573', target='_new') Maxx
				| , 
				a(href='http://www.twitch.tv/mrbubbleskp', target='_new') Mrbubbleskp
				| , and 
				a(href='http://www.twitch.tv/exodus122', target='_new') Exodus
				| .
				br
				| Powered by 
				a(href='http://nodejs.org/', target='_new') Node.js
				| , 
				a(href='http://expressjs.com/', target='_new') Express
				| , and 
				a(href='http://www.mongodb.org/', target='_new') MongoDB
				| . Template from 
				a(href='http://html5up.net', target='_new') HTML5 UP
				| .
